
div#app {
    height: 100%;
}

div.router {
    height: 100%;
}

body, input, button, textarea {
    font-family: sans-serif;
}

.flex {
    display: flex;

    &.center {
        align-items: center;
    }

    &.end {
        justify-content: flex-end;
    }

    &.row {
        flex-direction: row;
    
        > .flex-auto {
            flex: 1 1 auto;
        }
    }
    &.column {
        flex-direction: column;

        > .flex-auto {
            flex: 1 1 auto;
        }
    }
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.dots {
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
