

@mixin spy-base-theme($theme) {

$palette: theme-palette($theme);
$primary: theme-primary($theme);

@mixin spy-left-bar() {
    div.left-bar {
        background-color: palette-600($palette);
        border-right: palette-700($palette) 1px solid;
        width: 48px;

        .left-bar-button {
            width: 28px;
            height: 28px;
            padding: 10px;
            text-align: center;
            vertical-align: middle;
            color: palette-400($palette);
            border: palette-700($palette) 1px solid;
            border-left: none;
            font-size: 26px;
            cursor: pointer;

            &.active, &:hover {
                color: palette-100($palette);
                border-color: palette-700($palette);
            }
        }
    }
}


div#app {
    height: 100%;
}

div.router {
    height: 100%;
}

body, input, button, textarea {
    font-family: sans-serif;
}

body {

    &.horizontal-resize * {
        cursor: ew-resize !important;
    }

    &.vertical-resize * {
        cursor: ns-resize !important;
    }


    user-select: none;
    overflow: hidden;
    color: theme-foreground($theme);
    background-color: theme-background($theme);

    @include spy-left-bar;
}

div.slider {
    height: 100%;
    position: relative;
    overflow: hidden;

    div.slider-selector {
        width: 100%;
        height: 100%;
        position: absolute;

        div.slide {
            width: 100%;
            height: 100%;
            position: absolute;

            div.slide-size-fixer {
                width: 100%;
                height: 100%;
                position: relative;
                display: flex;
            }
       
        }
    }
}

.fa-button {
    cursor: pointer;

    &:hover {
        font-weight: bold;
    }
}

.flex {
    display: flex;

    &.center {
        align-items: center;
    }

    &.end {
        justify-content: flex-end;
    }

    &.row {
        flex-direction: row;
    
        > .flex-width-auto {
            flex: 1 1 auto;
        }

        > .flex-auto {
            flex: 1 1 auto;
        }
    }
    &.column {
        flex-direction: column;

        > .flex-height-auto {
            flex: 1 1 auto;
        }

        > .flex-auto {
            flex: 1 1 auto;
        }
    }
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

button.btn {
    margin: 5px;
    border-radius: 4px;
    background-color: palette-600($palette);
    border-color: palette-400($palette);
    color: palette-100($palette);
    padding: 4px 9px;
    font-weight: bold;
    max-height: 32px;
    cursor: pointer;

    &:focus {
        outline: palette-100($palette) auto 5px;
    }

    &[disabled] {
        background-color: palette-300($palette);
        color: palette-400($palette);
    }

    &.primary {
        background-color: palette-700($primary);
        border-color: palette-400($primary);
        color: palette-100($primary);

        &:focus {
            outline: palette-100($primary) auto 5px;
        }
    
    }
}

.resize-panel {
    height: 100%;
    width: 100%;
    display: flex;

    &.horizontal {
        flex-direction: row;

        .resize-bar {
            width: 5px;
            height: 100%;
            cursor: ew-resize;
        }
    }

    &.vertical {
        flex-direction: column;

        .resize-bar {
            height: 5px;
            width: 100%;
            cursor: ns-resize;
        }
    }
}

.dots {
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

.input-box {

    &.file {

        input[type="file"] {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
    }

    height: auto;

    label {
        margin-right: 10px;
    }

    input[type="text"], textarea, select, label.input-file {
        background-color: palette-300($palette);
        color: palette-900($palette);
        padding: 5px;
        margin: 4px;
        border: none;
        border-bottom: 1px palette-400($palette) solid;
        border-radius: 2px;
        font-size: 15px;

        &:focus {
            outline: palette-100($palette) auto 5px;
        }
    }

    input[type="text"] {
        width: 183px;
    }

    textarea {
        width: 183px;
        min-width: 183px;
    }

    select {
        width: 193px;
        height: 28px;
    }

    label.input-file {
        display: block;
        width: 183px;
        height:17px;

        white-space: nowrap;
        overflow:hidden !important;
        text-overflow: ellipsis;
    }
}

div.directory-picker {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    label {
        font-size: 1.25rem;
        font-weight: 700;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        padding: 0.625rem 1.25rem;
        
        color: invert(palette-100($palette));

        border: 1px solid palette-600($palette);
        background-color: palette-100($palette);
        padding: 0;


        span {
            flex: 9999;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            vertical-align: top;

            padding: 0.625rem 1.25rem;
            
        }

        strong {

            height: 100%;
            color: theme-foreground($theme);
            background-color: palette-600($palette);
            display: inline-block;
            padding: 0.625rem 1.25rem;

            svg {
                width: 1em;
                height: 1em;
                vertical-align: middle;
                fill: currentColor;
                margin-top: -0.25em;
                margin-right: 0.25em;
            }
        }
    }
}

div {
    &:not(.selectable) {
        user-select: none;
        cursor: default;
    }

    &.selectable {
        ::selection, &::selection {
            background: palette-A200($primary);
        }

        user-select: text;
    }
}

.tabs {
    
    .tab {
        z-index: 10;
        padding: 4px 14px;
        border: 1px palette-900($palette) solid;
        color: palette-400($palette);
        font-weight: bold;
        background-color: palette-600($palette);
        cursor: pointer;

        &.active {
            color: inherit;
            background-color: palette-700($palette);
            border-bottom: none;
        }
    }
}

div.fixed-table {
    > div {

        div.fixed-table-cell {
            padding-left: 5px;
            background-color: palette-200($palette);
            color: palette-800($palette);
            width: 100%;
            border-bottom: 2px solid;
            border-right: 2px solid;
            cursor: inherit;


            &:last-child {
                border-right: none;
            }
        }

        &:not(.fixed-table-footer) {
            .fixed-table-cell {
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }

        &.fixed-table-header {
            .fixed-table-cell {
                background-color: palette-400($palette);
            }
        }

        &.fixed-table-body {
            .fixed-table-row.selected {
                div.fixed-table-cell {
                    background-color: palette-A200($primary);
                }
            }

            .fixed-table-row.clickable {
                cursor: pointer;
            }
        }

        &.fixed-table-footer {
            flex: 1 1 auto;

            div.fixed-table-cell {
                border-bottom: none;
            }
        }
    }

}

/* */

}
