@import 'components/index';

@mixin spy-base-theme($theme) {

$palette: theme-palette($theme);
$primary: theme-primary($theme);
$warn:    theme-warn($theme);

body {
    &.horizontal-resize * {
        cursor: ew-resize !important;
    }

    &.vertical-resize * {
        cursor: ns-resize !important;
    }

    user-select: none;
    overflow: hidden;
    color: theme-foreground($theme);
    background-color: theme-background($theme);

    @include spy-base-bar($theme);
    @include spy-base-slider($theme);
    @include spy-base-buttons($theme);
    @include spy-base-inputs($theme);
    @include spy-base-selectable($theme);
    @include spy-base-resize-panel($theme);
    @include spy-base-tabs($theme);
    @include spy-base-fixed-table($theme);
    @include spy-base-left-bar($theme);
    @include spy-base-box($theme);
    @include spy-base-scroll($theme);
    @include spy-base-react-table($theme);
}

/* */

}
