
@mixin spy-window-case-theme($theme) {

/* Init variables */
$palette: theme-palette($theme);
$primary: theme-primary($theme);

/* Declare mixins  */
@mixin spy-window-case-phosphor() {

    .p-DockPanel-overlay {
        background: rgba(255, 255, 255, 0.6);
        border: 1px dashed black;
        transition-property: top, left, right, bottom;
        transition-duration: 150ms;
        transition-timing-function: ease;
      }
      
    .p-DockPanel {
        height: 100%;
        background: palette-600($palette);

        .p-DockPanel-widget {
            background: palette-800($palette);
            border: 1px palette-400($palette) solid;
            border-top: none;
            display: flex;
            flex-direction: column;
            padding: 5px;
        }

        .p-TabBar {
            min-height: 24px;
            max-height: 24px;
        }

        .p-TabBar-content {
            min-width: 0;
            min-height: 0;
            align-items: flex-end;
            border-bottom: 1px solid palette-400($palette);
        }

        .p-TabBar-tab {
            padding: 0px 10px;
            background: palette-600($palette);
            border: 1px solid palette-400($palette);
            border-bottom: none;
            font: 12px Helvetica, Arial, sans-serif;
            flex: 0 auto;
            min-height: 20px;
            max-height: 20px;
            min-width: 35px;
            margin-left: -1px;
            line-height: 20px;
        }

        .p-TabBar-tab.p-mod-current {
            background: palette-800($palette);
        }

        .p-TabBar-tab:hover:not(.p-mod-current) {
            background: palette-600($palette);
        }

        .p-TabBar-tab:first-child {
            margin-left: 0;
        }

        .p-TabBar-tab.p-mod-current {
            min-height: 23px;
            max-height: 23px;
            transform: translateY(1px);
        }

        .p-TabBar-tabIcon,
        .p-TabBar-tabLabel,
        .p-TabBar-tabCloseIcon {
            display: inline-block;
        }

        .p-TabBar-tab.p-mod-closable > .p-TabBar-tabCloseIcon {
            margin-left: 4px;
        }

        .p-TabBar-tab.p-mod-closable > .p-TabBar-tabCloseIcon:before {
        content: '\f00d';
            font-family: FontAwesome;
        }

        .p-TabBar-tab.p-mod-drag-image {
            min-height: 23px;
            max-height: 23px;
            min-width: 125px;
            border: none;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
            transform: translateX(-40%) translateY(-58%);
        }
    }
}
@mixin spy-window-explorer-left-bar() {

    div.case-hierarchy {
        font-size: 14px;

        div.case-hierarchy-item {

            &.active > .case-hierarchy-label {
                background-color: palette-600($palette);
            }

            &.selected > .case-hierarchy-label {
                background-color: palette-A700($primary);
            }

            .case-hierarchy-label {
                display: inline-flex;
                flex-direction: row;
                align-items: center;

                cursor: pointer;
                padding: 2px 6px 2px 3px;
                border-radius: 6px;
                white-space: nowrap;
                height: 16px;

                span.state-btn {
                    width: 16px;
                    height: 16px;
                    display: inline-block;
                    text-align: center;
                    margin-right: 4px;
                }

                span.item-btn {
                    width: 24px;
                    height: 16px;
                    display: inline-block;
                    position: relative;

                    > span.item-btn-status {
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        font-size: 13px;

                        // &.fa-check {
                        //     color: palette-A200($primary);
                        // }
                    }
                }
            }

            .children {
                width: auto;

                &.closed {
                    display: none;
                }

            }

            div.case-hierarchy-item {
                margin: 1px 0 1px 16px;
            }
        }

        // background-color: palette-500($palette);
    }

    div.explorer-left-bar {
        min-width: 257px;

        div.explorer-bar-box {
            min-height: 200px;

            > .header {
                padding: 5px 10px;
                font-size: 16px;
                background-color: palette-600($palette);
                border: 1px palette-700($palette) solid;
                border-left: none;
            }

            > .body {
                &.margin {
                    padding: 5px 10px;
                }

                &.x-scroll {
                    overflow-x: auto;
                }
            }

        }

        > div.explorer-properties {
            height: 225px;

            .editor-properties-form {
                background-color: transparent;
                color: invert(palette-900($palette));

                table {
                    border-collapse: collapse;
                    border-spacing: 0;

                    td {
                        border: 1px palette-300($palette) solid;
                        
                        &:first-child {
                            padding: 5px 10px;

                        }
                    }
                }


                .input-box {
                    input, select {
                        width: 100%;
                        margin: 0px;
                        height: 30px;
                        background-color: transparent;
                        border: none;
                        color: invert(palette-900($palette));
                    }

                    input {
                        width: calc(100% - 10px);
                        padding: 0px 5px;
                    }

                    select {
                        width: 100%;
                        padding: 0px;
                    }

                    select option {
                        color: invert(palette-900($palette));
                        background-color: palette-800($palette);
                    }
                }
            }
        }
    }
}
@mixin spy-window-explorer-editor() {
    .explorer-editor {
        height: 100%;
        min-width: 400px;
    }
}
@mixin spy-window-case-explorer() {
    div.explorer {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;

        @include spy-window-case-phosphor;
        @include spy-window-explorer-left-bar;
        @include spy-window-explorer-editor;


        div.dock-panel {
            flex: 1 1 auto;
        }

        div.dock-widget {
            height: 100%;
    
            > div {
                background-color: palette-700($palette);
                border: 1px palette-400($palette) solid;
                height: 100%;

                textarea {
                    width: 100%;
                    background-color: transparent;
                    color: palette-100($palette);
                }
            }

            h1 {
                margin: 0px;
            }
        }

        div.directory-panel {
            height: 100%;
        }
    }
}
@mixin spy-window-case-settings() {
    div.settings {
        padding: 5px;
        width: 100%;
        height: auto;
    }
}
@mixin spy-window-case-terminal() {

    .terminal {
        min-height: 200px;
        height: 100%;
        background: palette-900($palette);

        .header {
            padding: 5px 10px;
            font-size: 18px;
            border-bottom: 1px solid;
        }

        .body {
            overflow: auto;
            padding: 5px 10px;
            font-family: monospace;
            font-size: 13px;
            border: 1px palette-400($palette) solid;

            > span {
                display: block;
                word-break: break-all;
            }
        }
    }
}
/*  */

/* Main */
body.img-spy-case {
    margin: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: palette-800($palette);
    color: palette-100($palette);

    div.case {
        display: flex;
        flex-direction: row;
        width: 100%;

        > .router {
            width: 100%;
        }

        @include spy-window-case-explorer;
        @include spy-window-case-settings;
        @include spy-window-case-terminal;
    }
}

}
